@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-dark: #181C20;
    --bg: #1D2227;
    --bg-alt: #323B42;
    --fg: #F3F2F4;
    --fg-alt: #616C74;
    --outlines: #434C55;
    --err: #DF2245;
    --warn: #F0D343;
    --success: #5BffAA;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "IBM Plex Sans", serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.2px;
    background-color: var(--bg);
    color: var(--fg);
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    font-family: "IBM Plex Sans", serif;
}

.field {
    font-family: "IBM Plex Sans", serif;
    display: block;
    background-color: var(--bg-dark);
    font-size: 16px;
    color: var(--fg-alt);
    padding: 0.7em 0.8em;
    border: none;
    transition: 0.2s;
    font-weight: 500;
    border-radius: 4px;
}
.field:focus {
    outline: none;
    color: var(--fg);
}
