@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap");

:root {
    --bg: #1d2227;
    --bg-alt: #323b42;
    --fg: #f3f2f4;
    --fg-alt: #616c74;
    --outlines: #434c55;
    --err: #df2245;
    --warn: #f0d343;
    --success: #5bffaa;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Recursive", sans-serif;
    font-size: 16px;
    background-color: var(--bg);
    color: var(--fg);
}

.content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    font-family: "Recursive", sans-serif;
}

.field {
    font-family: "Recursive", sans-serif;
    display: block;
    background-color: var(--bg-alt);
    font-size: 16px;
    color: var(--fg-alt);
    padding: 0.7em 0.8em;
    border: 1px var(--fg-alt) solid;
    transition: 0.2s;
    font-weight: 500;
    border-radius: 4px;
}
.field:focus {
    outline: none;
    color: var(--fg);
}
