.nav {
    list-style-type: none;
    margin: 0;
    padding: 0 4em;
    overflow: hidden;
    border-bottom: var(--outlines) 1px solid;
}

.nav li a {
    display: block;
    color: var(--fg);
    text-align: center;
    padding: 1.4em 2.4em;
    text-decoration: none;
    transition: 0.2s;
}

.nav li a:not(.nav-logo):hover {
    color: var(--fg-alt);
}

.nav-logo {
    font-weight: 800;
    cursor: default;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -webkit-touch-callout: none; /* iOS Safari */
}
